@font-face {
    font-family: Kanit-Light;
    src: url(./Kanit/Kanit-Light.ttf);
}

@font-face {
    font-family: Kanit-Bold;
    src: url(./Kanit/Kanit-Bold.ttf)
}

* {
    box-sizing: border-box;
}

body {
    font-family: Kanit-Light;
    background-color: #020f1b;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.font20 {
    font-size: 20px;
}


header {
    margin: auto;
    height: 450px;
    width: 700px;
    padding: 10px 0;
}

header>div {
    display: flex;
}

.nav_bar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    transform: translate(0px 100px);
    animation: showup 2s 1;
}

#logo {
    position: absolute;
    font-size: 30px;
    margin: 0 10px;
    transform: translate(30px, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Kanit-Bold;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;

    overflow: hidden;
    white-space: nowrap;
    animation: showup 2s 1;
}

@keyframes showup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}